/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 4:05:06 PM
    Author     : mikevalentino
*/

#body {
    font-family: 'Source Code Pro';
}

#menu {
    font-size: 16px;
    font-family: 'Source Code Pro';
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px white;
}

#menu a {
    text-decoration: none;
    color: purple;
    padding: 8px 8px 8px 8px;
}

#footer {
        font-size: 16px;
    font-family: 'Slabo 27px', serif;
}

#title {
    color: #fff;
    font-size: 16px;
    font-family: 'Source Code Pro';
    font-weight: bold;
}

#banner {
        color: black;
    font-size: 16px;
    font-family: 'Source Code Pro';
    font-weight: bold;
        text-shadow: 3px 5px 1px white;
}