/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 3:03:57 PM
    Author     : mikevalentino
*/
#content {
    text-decoration: blink;
}

#sitetitle {
    font-family: 'Rock Salt', cursive;
    font-weight: bolder;
    font-size: 30px;
}


body { 
  -background: url('http://www.pptbackgrounds.net/uploads/elegant-grey-illumination-background-presentations-powerpoint-backgrounds.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -background-size: cover;
}

#menu {
    font-size: 16px;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
}

#menu a {
    text-decoration: none;
    color: white;
    padding: 8px 8px 8px 8px;
}

#home_content {
    font-family: 'Oswald', sans-serif;
}

#home_content h1 {
    font-family: 'Lobster', cursive;
}

#buttons {
     font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
}

#buttons a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;   
}#site_headertitle {

}
