/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 3:03:57 PM
    Author     : mikevalentino
*/

#menu {
    font-size: 40px;
    font-family: 'Chewy', sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
}

#menu a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
}

#home_content {
    font-family: 'Chewy', cursive;
}

#home_content h1 {
    font-family: 'Chewy', cursive;
}

#buttons {
     font-size: 16px;
    font-family: 'Chewy', cursive;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
}

#buttons a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;   
}

#h2 {
    font-family: 'Chewy', sans-serif;
}

#slideshow_title {
    font-size: 48pt;
    font-weight: bold;
}

#sitetitle{
    font-size: 20pt;
    font-family: 'Sigmar One', cursive;
    font-weight: bold;
    color:#D6C496;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 white, 0 -1px black;
}