/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 1:47:39 PM
    Author     : mikevalentino
*/

#menu {
    font-size: 16px;
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
}

nav ul a {
    color: white;
    text-decoration: none;
    text-shadow: 3px 2px 3px #333333;
}

#menu a {
    text-decoration: none;
    color: white;
    padding: 8px 8px 8px 8px;
}

body {
    font-family: 'Slabo 27px', serif;
}

#sitetitle {
    font-style: oblique;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 white, 0 -1px black;
}