/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 4:05:06 PM
    Author     : mikevalentino
*/

#menu {
    font-size: 16px;
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px white;
}

#menu a {
    text-decoration: none;
    color: goldenrod;
    padding: 8px 8px 8px 8px;
}

#footer {
        font-size: 16px;
    font-family: 'Slabo 27px', serif;
}