/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 3:03:52 PM
    Author     : mikevalentino
*/
#h2 {
   background-color: #0000cc;
   display: inline;
}

#menu {
    height: 35px;
    border-radius: 8px;      
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li { 
display: inline; 
padding: 20px; 
}

#menu a:hover {
    text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
    color:#ffffcc;
}

#home_image {
    border-width: 10px;
    border-style: solid;
    border-color: red;
}

#buttons {
     width: 190px;
    height: 35px;
    background-color: red;
    border-radius: 8px;
    height: auto;
    padding: 8px 0px;
    margin: 0px;
    display: inline; 
    padding: 20px; 
}

#buttons a:hover {
    color: white;
    background-color: #FFF;
}

#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
}

#content {
    position:absolute;
    font-family: 'Chewy', cursive;
    width:100%;
}

#slideshow_title, #slide_img, #slide_caption, #slideshow_controls {
    text-align: center;
    width:100%;  
}

#slideshow_title {
    text-align: center;
    top:135px;
    height:120px;
      background-image: url("../img/ShellBorderWeb.png");
      background-repeat: repeat-x;
   text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px tan, 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
    color:#ffffcc;
}

#slide_img {
    top:215px;
}

#slide_caption {
    top:710px;
    font-size:24pt;
    text-align:center;
    background-color:#0000cc;
}

#slideshow_controls {
    top:760px;
    text-align:center;
    background-color:#0000cc;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}



