/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 1:34:50 PM
    Author     : mikevalentino
*/


/* Layout */
#main-header {
    background-color: white;
}

body {
    min-width: 630px;
}

#container {
    padding-left: 200px;
    padding-right: 190px;
}

#container .column {
    position: relative;
    float: left;
}

#center {
    padding: 10px 20px;
    width: 100%;
}

#left {
    width: 180px;
    padding: 0 10px;
    right: 240px;
    margin-left: -100%;
}

#right {
    width: 130px;
    padding: 0 10px;
    margin-right: -100%;
}

#footer {
    clear: both;
}

/* IE hack */
* html #left {
    left: 150px;
}

/* Make the columns the same height as each other */
#container {
    overflow: hidden;
}

#container .column {
    padding-bottom: 1001em;
    margin-bottom: -1000em;
}

/* Fix for the footer */
* html body {
    overflow: hidden;
}

* html #footer-wrapper {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    background: #fff;
}

/* Aesthetics */
body {
    margin: 0;
    padding: 0;
    font-family:Sans-serif;
    line-height: 1.5em;
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header, #footer {
    font-size: large;
    padding: 0.3em;
    background: red;
}

#left {
    background: #ffcccc;
}

#right {
    background: #ffcccc;
}

#center {
    background: #fff;
}

#container .column {
    padding-top: 1em;
}

#menu {
    width:80%;
    position: relative;
    height: 35px;
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
    color: white;
}

#menu li { 
    display: inline; 
    padding: 20px;
}

#menu a:hover {
    color: red;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-radius: 8px;
}

