/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 4:05:19 PM
    Author     : mikevalentino
*/

#pictures {
    background-color: olive;
    text-shadow: black;
    font-family: 'Fredericka the Great', cursive;
}

#cool {
    background-color: olivedrab;
    font-family: 'Fredericka the Great', cursive;
    border-color: olive;
    border-style:double;
    border-radius: 2px;
    border-width: 10px;
}

#pictures p{
    text-shadow: black;
}

#menu {
    width:80%;
    position: relative;
    height: 35px;
    border-radius: 8px;
    border-color: yellow;
    border-style:dashed;
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li { 
    display: inline; 
    padding: 20px; 
}

#menu a:hover {
    color: yellowgreen;
    background-color: #FFF;
    border-color: white;
    border-style: solid;
    box-shadow: 3px 2px 3px white;
}

