/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 3:03:52 PM
    Author     : mikevalentino
*/
#site_headerimage img {
        border-color: black;
    border-style: ridge;
    border-radius: 8px;
    box-shadow: 3px 2px 3px #333333;
}
#content img {
        border-color: black;
    border-style: ridge;
    border-radius: 8px;
    box-shadow: 3px 2px 3px #333333;
}

#content {
    color: black;
    display: inline;
    padding: 10px;
    
    background-position: center;
}

#menu {
    width:80%;
    position: relative;
    height: 55px;
    background-color: black;
    border-radius: 8px;
    border-color: white;
    border-style:ridge;
    box-shadow: 3px 2px 3px #333333;
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li { 
display: inline; 
padding: 20px; 
}

#menu a:hover {
    color: white;
    background-color: #FFF;
    border-color: white;
    border-style: ridge;
    border-radius: 8px;
}

#home_image {
    border-width: 10px;
    border-style: solid;
    border-color: red;
}

#buttons {
     width: 190px;
    height: 35px;
    background-color: red;
    border-radius: 8px;
    height: auto;
    padding: 8px 0px;
    margin: 0px;
    display: inline; 
    padding: 20px; 
}

#buttons a:hover {
    color: white;
    background-color: #FFF;
}

#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
}

#content {
    position:absolute;
    font-family: 'Oswald', cursive;
    width:100%;
}

#slideshow_title, #slide_img, #slide_caption, #slideshow_controls {
    text-align: center;
    width:100%;  
}

#slideshow_title {
    text-align: center;
    top:135px;
    height:80px;
    background-color:#99ff33 ;
    font-size: 48pt;
    font-weight: bold;
}

#slide_img {
    top:215px;
}

#slide_caption {
    top:710px;
    font-size:24pt;
    text-align:center;
    background-color:#0000cc;
}

#slideshow_controls {
    top:760px;
    text-align:center;
    background-color:#0000cc;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
