/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 4:05:19 PM
    Author     : mikevalentino
*/

body {
    background-color: black;
}

#pictures p{
    text-shadow: black;
}

#menu {
    width:100%;
    position: relative;
    height: 35px;
    background-color: cyan;
    border-radius: 8px;
    border-color: cyan;
    border-style: groove;
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li { 
    display: inline; 
    padding: 20px; 
}

#menu a:hover {
    color: red;
    background-color: yellow;
    border-color: lightgreen;
    border-style: solid;
    box-shadow: 3px 2px 3px white;
}

